<div>
    <form class="flex gap-4 mb-4 ml-4 mr-4"
        {{ stimulus_controller('filter', {'route': path('app_filter_render')}) }}
          data-filter-form
    >
        {% for name, attribute in attributes %}
            {% set buttonId = 'dropdown-' ~ name %}
            {% set attributeName = 'product.attribute.' ~ name ~ '.label' %}

            <div>
                <button id="{{ 'button-' ~ name }}" data-dropdown-toggle="{{ buttonId }}"
                        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300
                    font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600
                    dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                        type="button">{{ attributeName|trans({},'product') }}
                    <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                         viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="m1 1 4 4 4-4"/>
                    </svg>
                </button>

                <div id="{{ buttonId }}"
                     class="z-10 hidden w-48 bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700
                 dark:divide-gray-600">
                    <ul class="p-3 space-y-3 text-sm text-gray-700 dark:text-gray-200"
                        aria-labelledby="{{ buttonId }}">
                        {% for value in attribute %}
                            {% set valueId = name ~ '-' ~ value %}
                            {% set valueName = get_attribute_value_translation(name, value) %}

                            <li>
                                <div class="flex items-center">
                                    <label for="{{ valueId }}"
                                           class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300 cursor-pointer">
                                        <input id="{{ valueId }}"
                                               type="checkbox"
                                               value="{{ value }}"
                                               name="{{ name }}"
                                               data-filter="{{ name ~ '-' ~ value }}"
                                               class="cursor-pointer w-4 h-4 text-blue-600 bg-gray-100 border-gray-300
                                           rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700
                                           dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600
                                           dark:border-gray-500"
                                        >
                                        {{ valueName|trans({},'product') }}
                                    </label>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </form>
</div>
<div>
    <div class="mb-4 ml-4 mr-4" data-filter-hints-container></div>
</div>

